.header-dados{
    display: flex;
    align-items: center;
    gap: .50rem;
}


.text-name{
    margin-bottom: 3rem;
    & input{
        width: 100%;
        padding: 1rem;
    }
}

.text-name .obrigatorio{
    margin-top: .35rem;
    align-items: center;
    margin-bottom: 1.5rem;
}

.text-name .obrigatorio span {
    font: var(--body-sm);
    color: rgba(212, 60, 60, 0.884);
}

.text-name input:required {
    border: 2px solid rgba(212, 60, 60, 0.884);
    
}

.text-name input:valid{
    border: transparent;
}

.text-name input:valid + .obrigatorio {
    display: none;
}

.input-email{
    width: 100%;
    margin-right: 2rem;
    width: 100%;
}


.input-email .input-wrapper{
    display: flex;
    justify-content: space-between;

    & input{
        padding: 1rem;
        width: 20rem;
    }
}


.terms .borda{

        border: 1px solid var(--shape-hover);
        margin-bottom: 3rem;
 
}


.terms {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap:.50rem;
}

.term1 {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;

    & span {
        color:var(--brand-light);
        text-decoration:underline;
        cursor: pointer;
    }
}

/* Esconde o input checkbox */
.term1 input {
    display: none;
}

/* Ajusta a imagem do checkbox */
.term1 label img {
    cursor: pointer;
}

/* Quando o checkbox for marcado, muda a imagem */
.term1 input:checked + label img {
    content: url("../assets/Icon/check-cheked.svg");
}

.button{
    
    & button{
        display: flex;
        border-radius:.50rem;
        background-color: var(--brand-dark);
        padding: .80rem;
        align-items: center;
        justify-self: end;

        & p {
            font: var(--body-sm);
            color: var(--text-heading);
        }

        & img{
            margin-right: .40rem;
            justify-self: center;
        }
    }
}