#app{
    display: grid;
    grid-template-columns: 48.755% 51.25% ;
    height: 100vh;
    overflow: hidden;
}

main{
    background-color:var(--shape-body) ;
    overflow: auto;
    padding: 4rem;

    & .main-container{
        max-width: 33rem;
        margin-left: auto;
    }
}

header{
    color: var(--text-heading);
    font: var(--titlle);
}

legend{
    color: var(--text-heading);
    font: var(--body-md);
}

#header-event{
    display: flex;
    align-items: center;
    gap: .25rem;
}

#start-end{
    display: flex;
    gap: 1rem;
    & input{
        width: 100%;
        padding:.80rem;
    }
}

aside{
    background-position: center;
    background-color: var(--shape-background);
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../assets/images/Background.png);
}

.overlay{
    margin:5rem 5rem;
    & h1{
        font: var(--logo);
        color: var(--danger);
    }

    & p {
        color: var(--text-heading);
        font: var(--titlle);
    }
}